
<div class="author__avatar">
    {% if author.avatar contains "://" %}
        <a href= {{base_path}}><img src="{{ author.avatar }}" alt="{{ author.name }}"></a>
    {% else %}
    <a href= {{base_path}}><img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}"></a>
    {% endif %}
</div>

<div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
</div>