<nav id="site-nav"  class="nav">
    <ul>
      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = base_path %}
        {% endif %}
        {% if link.title == "CV" %}
            <li><a href="{{ domain }}{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.title }}</a></li>
        {% else %}
            <li><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>