
<h1>Job Market Paper</h1>
<ul>
{% for publication in site.data.navigation.publications %}
  <li>{{publication.title}}, with {{publication.coauthors}}</li>
{% endfor %}
</ul>


<h1>Publications</h1>
<ul>
{% for publication in site.data.navigation.publications %}
  <li>{{publication.title}}, with {{publication.coauthors}}</li>
{% endfor %}
</ul>

<h1>Working Papers</h1>
<ul>
{% for publication in site.data.navigation.publications %}
  <li>{{publication.title}}, with {{publication.coauthors}}</li>
{% endfor %}
</ul>

<div class = "publications">
  <h1>Work in Progress</h1>
  <ul>
    {% for publication in site.data.navigation.publications %}
      <li>{{publication.title}}, with {{publication.coauthors}}</li>
    {% endfor %}
  </ul>
</div>
<i>Italian Random</i>
<b>Boldly Random</b>