.publications {
    ul {
        list-style-type: lower-alpha;
    }
    li {
        color: red;
    }
    a {
        color: red;
    }
}

.collapsible {
    background-color: $background-color;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    text-color:aqua;
  }
  
  .active, .collapsible:hover {
    color: black;
  }
  
  .content {
    display: none;
    overflow: hidden;
  }

  