---
layout: compress
---

{% include base_path %}
{% assign author = site.author %}
<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VQD3QVCF2G"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VQD3QVCF2G');
  </script>

  <body>


    {% include header.html %}

    {{ content }}


  </body>
</html>
